{% extends "accounts/layout/main.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
  <div class="min-vh-100 d-flex">
    <div class="m-auto">
      <form action="" method="post">
        {% csrf_token %}
          {{form| crispy}}
          <div>
            {{form.errors}}
          </div>
          <div class="text-center my-2">
            <button type="submit"class="btn btn-primary">Create User</button>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
